@use 'sass:meta';
@use 'sass:math';
@use 'sass:map';
@use 'tokens';
@use 'typography';
@use 'breakpoints' as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map';
  }
}

@mixin heading(
  $fs,
  $color,
  $fw,
  $ff: tokens.$font-family-headings,
  $lh: tokens.$line-height-headings
) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;

  font-family: $ff;
  line-height: $lh;
}

@mixin body(
  $fs,
  $color,
  $fw,
  $ff: tokens.$font-family-content,
  $lh: tokens.$line-height-body
) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;

  font-family: $ff;
  line-height: $lh;
}
