$sizes: (
  0: 0rem,
  025: 0.125rem,
  050: 0.25rem,
  075: 0.375rem,
  100: 0.5rem,
  150: 0.75rem,
  200: 1rem,
  250: 1.25rem,
  300: 1.5rem,
  400: 2rem,
  500: 2.5rem,
  600: 3rem,
  800: 4rem,
  1000: 5rem,
);

// for use in the code base
$size-0: 0rem;
$size-025: 0.125rem;
$size-050: 0.25rem;
$size-075: 0.375rem;
$size-100: 0.5rem;
$size-150: 0.75rem;
$size-200: 1rem;
$size-250: 1.25rem;
$size-300: 1.5rem;
$size-400: 2rem;
$size-500: 2.5rem;
$size-600: 3rem;
$size-800: 4rem;
$size-1000: 5rem;
