//Font Family
$-ff-sans: 'Roboto', sans-serif;
$-ff-serif: 'Raleway', serif;

$ff-base: $-ff-sans;
$ff-accent: $-ff-serif;

//Font Sizes
$font-sizes: (
  'small': (
    '900': 4rem,
    '800': 3rem,
    '700': 2.5rem,
    '600': 2rem,
    '500': 1.5rem,
    '400': 1rem,
    '300': 0.875rem,
    '200': 0.75rem,
    '100': 0.625rem,
  ),
  'large': (
    '900': 4rem,
    '800': 3rem,
    '700': 2.5rem,
    '600': 2rem,
    '500': 1.5rem,
    '400': 1rem,
    '300': 0.875rem,
    '200': 0.75rem,
    '100': 0.625rem,
  ),
);

// Font Weights
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
