@use '../../styles/abstracts/' as *;

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__stepper {
    width: 100%;
  }

  &__step {
    width: 100%;
    padding: $pd-xxl;
  }
}

.step {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__radio-button {
    width: 100%;
    margin: auto;

    &:not(:last-child) {
      // Target all radio buttons except the last one
      margin-bottom: $mg-xl; // Adjust the spacing as needed
    }
  }

  &__checkbox {
    width: 100%;
    margin: auto;

    &:not(:last-child) {
      // Target all radio buttons except the last one
      margin-bottom: $mg-xl; // Adjust the spacing as needed
    }
  }

  &__textarea {
    width: 100%;
    margin: auto;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: $mg-xs;
    margin-bottom: $mg-xxxl;
  }

  &__title {
    color: $color-text-default;
  }

  &__description {
    color: $color-text-subtle;
  }
}
